<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/timestamp/2021-02-09">https://dimitri-timestamp-microservice.glitch.me/api/timestamp/2021-02-09</a></li>
        <li><a href="api/timestamp/1612828800000">https://dimitri-timestamp-microservice.glitch.me/api/timestamp/1612828800000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1612828800000, "utc":"Tue, 09 Feb 2021 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://about.me/dimitriongoua">Dimitri ONGOUA</a>
      </p>
    </div>
  </body>
</html>
